<div class="home__ascii-art" aria-label="ASCII self-portrait">
    <pre class="home__ascii-art__pre">#%%###############################################################################################################################%#%%%%%%%%%%%%%%%%%%
%%##########################################################################################################################%%####%##%%%%%%%%%%%%%%%%%
%#%%%#%##%##%######################################################################################################%########%##%##%%%%%%%%%%%%%%%%%%%%
%%%%#%%##%###%###%######################################################%####################################################%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%#%##%%##################################################%&%%%%%#&##%%%################################################%#%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%#%%########%#################################%&&&&%&&&&@@&&&%&&&%######################################%%#%%##%#%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%#%%#%#################################%#@@&&@@@@&@@@&@@&@@@&&@&@@@@%&&&%%#%%%%##%##################%#####%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%##%###%####%#####################%%&@@@@@&@@@@&@@@&@@@@@@&@@@@@@@@@@@@@@@@@@@@&&&&%&&%#############%##%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%#%%%#####%%##%%##############&@@@@@@@@@@@@@&@&@@@@@@&&@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&%&%%%%%###%%%%%%%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%#%%%#%%#%%#%%###########%%@@@@@@@@@@@@&&@@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&
%%%%%%%%%%%%%%%%%%%#%#%%#%##%########&@@@@@@@@@@@@@@@@@@@@@&&&&&@@&&&&%%&%&&#//*////(@@@@@@@@@@@@@@@@@@@@@%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%#%%%%%#%%#%#%#@@@@@@@@@@@@@@@@@&&@@@@&@&&%###%(((((//(///////****//*/(@@@@@@@@@@@@@@@@@@&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%&&&
%%%%%%%%%%%%%%%%%%%%%%%%%%#%%%%%@@@@@@@@@@@@@@@@@@&@@@&&@&&&####&((///**/***////************(#@@@@@@@@@@@@@@@@&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&&%%%%%&&&
%%%%%%%%%%%%%%%%%%%%%%%%#%%%%@@@@@@@@@@@@@@@@@@@@@@@@&@&@&&####%((((//******,,,,*,*,,,*,,*,***(##@@@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%%%&%&&&&
%%%%%%%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@&@@&&@&&&%###%(/////////***********************(##@@@@@@@@@@@@@@&%%%%%%%%%%%%%%%%%%%%%%&%%%&%%%&&&&&&
%%%%%%%%%%%%%%%%%%%%%%%%&@@@@@@@@@@@@@@@@@@@@@@@&@@@&@@@&&#%##((((/////*****,,,*************////((((%@@@@@@@@@@@@@@&%%%%%%%%%%%%%%%%&&%&%&%&&%&%%&&&&&
%%%%%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@&&@@@@@@&&%%##((((//(//*******,**********//**,***/#(%%&%@@@@@@@@&@&@@@%%%%%%%%%%%%%%%%%&%&&%&%&&&&&&&&&
%%%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@&&@&&%###((((#(((/////*******,,******,,,,,,,,,*//(#%@@@@@@@@@@@&@@@&%&&%%%%%%%%&%%%&%&&&&&&&&&&&&&
%%%%%%%%%%%%%%%%%%%%%&@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@&@@&%%%%%%##((//********,,**,,,,,,,,,,,,,,,*,,,,*//(#%@@@@@@@@@@&&@@@%%&%%%%%%&%%&&&&&%&&&&&&&&&&&
%%%%%%%%%%%%%%%%%%%&@@@@@@@@@@@@@@@@@@@@@@@@@@&&@@@&@@&&&%###///******************,,,,,,,*****,,,** ((//%&&&&(##&*@@@@@@@@@&&%&%%%%&&%&&&&&&&&&&&&&&&&
%%%%%%%%%%%%%%%%%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@&@@&&&###//*********/,.. .*///****,,,,,****** ,,,*/////(&&@&&%#/(&&@@@@@@@&&&&%%&&&&&&&&&&&&&&&&&&&&
%%%%%%%%%%%%%%%&@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@&&&%#(/**/(/********//******/(/**,,*****/*/,*//(%%&%((#&@@@@&&#%%@&@@@@@@@&&&&&%&&&&&&&&&&&&&&&&&&
%%%%%%%%%%%%%%%&@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@&&&%#( //////////**********/*//(*///**,,* //***(% %(%###@@@@@&&##(@@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&
%%%%%%%%%%%%%&%%&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&%#*((///((%#(&&%%%%%/***///// /***/****.///((((#(/((#&@@@@@&&##@@@@&@@@@@&%&&&&&&&&&&&&&&&&&&&&
&%%%%%%%%%%%%%&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%%*#####%#/***%%%*(((/****//(/#///***/(#.*/////*., ,*#%&@@@@&&(@@@@@&@@@@@@&&&&&&&&&&&&&&&&&&&&
#%%##%#######%%#%@@@@@@@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@&%%% %###%*#((/////*****,/ //**(/(///****/*%***/*////.,//#@&&&&# @@@@@&&@&&&&&&&&&&&&&&&&&&&&&&&&
#%%%#%#######%#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%%# ####((/////***,,,*/*/**(( #((((//**,***./*****.**/**/%%&# @&&&@@&&&&&&&&&&&&&&&&&&&&&&&&&&&
#%#############&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&%%%%#/##/((///*****,,******/( #####(//********# **********/( @@&&%%%%%%%%%%%%%%%%%%%%%%%%&&%&&&%
##%%##########%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%%%#(#,((//*/***********//(#######((//**,,,***,**,*/. **,**/@%%%%%%%%%%%%%%%%%%%%%%%&%&&%&%&&&&
#####%##%####%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%%###(//.//*************,((#####((/////**,******,**,,,,*,***@@%%%%%%%%%%%%%%%%%%%%%%%%%%%&&&&&&
%#%#########%&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&%###(////**(,.,,..,/**/((#%###((/(#&#(///*&%/**,,,,,,,,,,**%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&&
%%########%&%%&%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&%%%((((//*************,*/(#%%#(/*@@%#(((*,***/****,,,,,,,,**%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%&&%&
%#%#%###%###%%%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&%%###((///*********,,**,,,*(#%%#//(((/***/**********,*,,,,,**%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&&&
#%#%#########%#&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&%%%%%##((////***,*****,,,,,***/////(((//****//**/**********,**%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%&%&&
%##%###########@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%%%%%####(((///*********,*****//////(/(//***/*****************%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%%&%&
###############@@@@@@@@@@@@@@&@@@@&&&&@@@&&@@@@@@@&&&&%%%%%###((((////***********////((////(//////////////*********%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%
%#%%##########%@@@@@@@@@@@@@@@@&@&&@&&&@&&&&&&&@@&&&&&&%%%%%%####((//////*/*//*//*///(((/////(#(((((/(((/(((/******%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%
%#############@@@@@@@@@@@@@@@@@@&&&&&@&&&&&&&&&&&&&&&&&%%%%%%#%####((////*/////////((/(((((((###((///****///*******@&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@&%&%%%&%%%%%%&&&&&&&&&%%%%%%#%####(((((//////(((((////#%%#(##(((///*************//&%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&
&&&&&&&&&&&&&&@&@@@@@@@@@@@@@@@@@@@%&%%%%%%%%%%%&&&&&&&&%%%%%%%#%####(((((((((((((((/(///((((///////*///*********//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&%
&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@&%%%%%%%%%@@@&&&&&&&%%%%%%%%######(#((((((((((((((((((((//////(((///****///##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%
&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@&&&&&%%%%%%%%%%#####(###((((((((((((((((((/(////////**/*****//#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%%%%%%%#############(((#((((((((((//////**************/&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%%%%%%%%%#############(((((((((((/////*/******,******/%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%&
&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@&&&&%%%%%%%%%%%%%%#%#######((((((((((/(///************/*/%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%
&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@&&&&&&&%%%%%%%%%%%%#%%%######(((((((((/////**********//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%&&&&&&&&&&&&&&&&&&&&%@@&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&%%&%&%%%%%%%%%%%###(((((((((((////////(//(#%#%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&&%
%&%%%%%%%%%%%%&&&&&&&%%%#%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&%&&%&&%%%%%%%%###(#####(((((((##%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&%%%%%%%%%%%%%%%&%%#####%&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%%%%%%%%%%///%######%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%
&%@%&&%%%%%%%%%%%%&%####%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%#((/////////////%#%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%#%%%%%%%%%%%##%#&@@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&%%%%%###(((//////////////////#%%%##%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%#%%%#%%&&@@@@@@@@@@@@@@@@@&&&@@@@@@@@&&&&&&&%%%&%%%&&&&%%%%##(((/////////////////////%%%&%%%%&%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&
@@@&@@@@&%%%%%%#%%%##%#%%###%&@@&@%%&@@&%&@%%%&%&@@@@@@@@&&&&&&%%%%%%%%&%&%%%%##(((////*/*****///////**///@%&%&%%@@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
@@@@@@@@%%%%%%####%%#%#####%##%%%%%%&@&&#%%##%%&@%%@@@@@@&&&&&&&%%%%%%%&&&%%%###((///////***///////****///@%&%@@@@@%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&
@@@@@@@@#%#%%#%##############%#########%######@&%%%%&@@@@&&&&&&%%&%%%%&&&&%%%%##((/////*****///////**/////%%&%@@@%&%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%&
%@@@@@@%%%#%%%%%%%%%%%%%%%######%#############%%##%%%&&&&&&&&&&%%%%%%%%&&&&%%%####(/////////////////****//&%&%&@@&&%@%%#%&&%&@@%%%%%%%%%%%%%%%%%%%%%&&
@@@@@@@%%###&%%&%&&&&%%%%##############%####%###%##%%%@&&&&&&&&&%%&%%%%&%%%%&%%%###(((/////////////**/////(%&%&@@&&%@%%#&&&&&&&&%%%%%%%%%%%%%%%%%%%%%&
@@&@@@%#%##%&%%&&&%&&%%%%#######%%%##%#####%%########@&&&&&&&&&&%%%%%%%%%%%%%%%%##(((/((/////////////***///%@%&@@@&&@%%#%&&&&&&&%%%%%%%%%%%%%%%%%%%%%&
@@@@@@%#%#%&%&&%&&&%%%&%#####%############@@@@@@@@@@&&&&&&&&&&%&&%%%%%%%%%&%%%###(((((((//////////**///////%@%&@&&&&@%#%%&&&&&@&%%%%%%%%%%%%%%%%%%%%%&
@@@@@%#%##%%&&&&&&&%&%%%%####&@@@@&&##@@@@@@@@@@@@@&&&&&&&&&&&%%%%%%%#%%%%%%%%##(((((/////////////*////*///#@%&@@@&&@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%
@@@@@%#%%#%&&&&&&&%%%&%%&@@@@@@@@@&&@@@@@@@@@@@@@@&&&&&&&&&&&&%%%%%%%%##%%%%%%##(((((/(///////////////*////(%&&&&%%&@%%%%%&&&%&&&%%&&&&%%%%%%%%%%%%%&&
@@@@&#%%#%%%@&&%@@&&&@@@&@@@@&&&@&&&&&&&&@@@@@@&&&&&&&&&&&&&&%%%%%%%%%##%%%%%###((((//(////////////*/*//////(#@@&@@&&&%%%%@&&%%&&%%&&%@%%%%%%%%%%%%%%%
@@@@%%%%#%&%&&&%@@&&&&@@@@@@@@&@&@@&&&&&&@&@&@@&&&&&&&&&&&&&%%%%%%%%%##%%%%%%%###(((((((/////////////*//////(((&@@@@@@&&&%&&&&%&&%%&@@@@&%%%%%%%%%%%%&
%%%%%%%@&&@@@@@@@@&&&&@@&@@@@@&&&&&&&&&&&&&%%%&&&&&&&&&&&&%%%%%%%%#%#%%#%#%%%#####(((((((//////////*//*////////(/*(@@@@@&@&&&@&&%%&&@&&@@&%%%%%%%%%%%&
%%%%%@@@@&&&@@&@&&&&&&@@@@&&&&&&@&&&&&&%%%%%#%%%%#&&%%%%%%%%%%%%%%%########%#####(((((((/(//////////*/////////#////*/(&@@@@&@@@&&&%&%&&@@%%%%%%%%%%&&%
%%%%%@@@@@@@@&@&&&&&&&&&@&&&&&&@@&&&&&&&###%#%%%%%#%%(%%%%%%%%%%%%%%%%%##%#######((((((/((//////////////////(****//((/(#&&@@@@@&&&&&&&&&@@&%%%%%%%%%&&</pre>
</div>
